{% extends "base.html.twig" %}

{% block body %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3>Authors</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <a href="{{ path('books.author.create') }}" class="btn btn-default pull-right">Create an author</a>
                </div>
            </div>
            {% if authors is empty %}
                <div class="alert alert-warning" style="margin-top: 15px;">
                    There are no authors created.
                </div>
            {% else %}
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <th>ID</th>
                            <th>Author name</th>
                            <th></th>
                        </thead>
                        <tbody>


                            {% for author in authors %}
                                <tr>
                                    <td>{{ author.id }}</td>
                                    <td>{{ author.name }}</td>
                                    <td>
                                        <a href="{{ path('books.author.update', {'author_id':author.id}) }}"><i class="fa fa-pencil"></i></a>
                                        <form id="author-delete-form-{{ author.id }}" action="{{ path('books.author.delete') }}" method="post" style="display: inline-block;">
                                            <input type="hidden" name="author_id" value="{{ author.id }}">
                                            <a href="" data-type="submit-delete-form" data-form="#author-delete-form-{{ author.id }}" class="text-danger"><i class="fa fa-trash"></i></a>
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
