{% extends "base.html.twig" %}

{% block body %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3>Update an author</h3>
        </div>
        <div class="panel-body">
            {{ form_start(form) }}
            <div class="form-group">
                {{ form_row(form.name) }}
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
