{% extends "base.html.twig" %}

{% block title %}AppBundle:Login:login{% endblock %}

{% block body %}
<div class="panel panel-success">
    <div class="panel-heading">
        <h3>Login</h3>
    </div>
    <div class="panel-body">
        {% if errors %}
            <div class="alert alert-danger">
                {{ errors.messageKey }}
            </div>
        {% endif %}
        <form action="{{ path('login') }}" method="post">
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" id="username" name="_username" value="{{ username }}" class="form-control">
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="_password" class="form-control">
            </div>
            <button class="btn btn-info pull-right">Submit</button>
        </form>
    </div>
</div>
{% endblock %}
