{% extends "base.html.twig" %}

{% block body %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3>Books</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <form class="form-inline">
                        <div class="form-group">
                            <select class="form-control input-sm" name="author">
                                <option value="">Author</option>
                                {% for author in authors %}
                                    <option value="{{ author.id }}" {{ app.request.get('author') == author.id ? 'selected':'' }}>{{ author.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="text" name="isbn" value="{{ app.request.get('isbn') }}" class="form-control input-sm" placeholder="ISBN">
                        </div>
                        <button type="submit" class="btn btn-default btn-sm">Filter</button>
                        <a href="{{ path('books.book.index') }}" class="btn btn-sm btn-default">Reset</a>
                        <a href="{{ path('books.book.create') }}" class="btn btn-sm btn-default pull-right">Create a book</a>
                    </form>
                </div>
            </div>
            {% if books is empty %}
                <div class="alert alert-warning" style="margin-top: 15px;">
                    There are no authors created.
                </div>
            {% else %}
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <th>ID</th>
                        <th>Title</th>
                        <th>ISBN</th>
                        <th>Category</th>
                        <th>Authors</th>
                        <th></th>
                        </thead>
                        <tbody>


                        {% for book in books %}
                            <tr>
                                <td>{{ book.id }}</td>
                                <td>{{ book.name }}</td>
                                <td>{{ book.isbn }}</td>
                                <td>
                                    {% if categories[book.categoryId] is defined %}
                                        {{ categories[book.categoryId] }}
                                    {% endif %}
                                </td>
                                <td>
                                    {% for author in book.authors %}
                                        {{ author.name }}<br>
                                    {% endfor %}
                                </td>
                                <td>
                                    <a href="{{ path('books.book.update', {'book_id':book.id}) }}"><i class="fa fa-pencil"></i></a>
                                    <form id="book-delete-form-{{ book.id }}" action="{{ path('books.book.delete') }}" method="post" style="display: inline-block;">
                                        <input type="hidden" name="book_id" value="{{ book.id }}">
                                        <a href="" data-type="submit-delete-form" data-form="#book-delete-form-{{ book.id }}" class="text-danger"><i class="fa fa-trash"></i></a>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}